@import url(./custom-fonts.css);

@import url("https://fonts.googleapis.com/css2?family=Protest+Riot&display=swap");
.parent {
  background-color: #fbecec;
  padding: 50px;
  color: #474600;
}

h2 {
  font-family: "Honk", monospace, sans-serif;
  color: #e11d74;
  font-size: 35px;
}

p {
  font-family: "Protest Riot";
}
